.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .hero-content {
    width: 50%;
    padding: 20px;
  }
  
  .hero-content h1 {
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 70px;
    color: coral;
  }
  
  .hero-content p {
    font-size: 25px;
    text-align: center;
    text-shadow: #fff;
    color: black;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 60px;
  }
  
  .gif-image {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    margin-right: 20px;
  }
  
  .gif-image img {
    max-width: 100%;
    height: auto;
  }
  
  .cta-button {
    background-color: #34d3db;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 90%;
  }
  
  .cta-button:hover {
    background-color: yellow;
    color: black;
  }
  .arrow-down {
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid coral;
    margin-top: 10px; 
  }
  