.apropos-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    
  }
  
  .profile-image {
    width: 1000px;
    height: 350px;
    margin-right: 20px;
    margin-left: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 5%;
    border: 2px solid #800000;
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  
  .apropos-content {
    flex-grow: 1;
    border-radius: 20px;
    background-color: bisque;
    padding: 50px;
    text-align: center;
    margin-left: 170px;
    margin-right: 150px;
    margin-top: 5%;
    border: 2px solid #800000;
  }
  
  .apropos-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .apropos-content p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  