.competences {
    margin-top: 20px;
    text-align: center;
  }
  
  .competences h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .competences-liste {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 500px;
  }
  
  .competence-item {
    margin-bottom: 10px;
  }
  
  .competence-langage {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    margin-right: 80%;
  }
  
  .competence-progress {
    width: 100%;
    height: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .competence-progress-bar {
    height: 100%;
    background-color: #00ff66;
  }
  
  .competence-pourcentage {
    margin-left: 90%;
  }
  
  