.etudesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  
  .item {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 20px;
    perspective: 1000px;
    cursor: pointer;
    margin-right: 150px;
    margin-top: 100px;

  }
  
  .flipped .card {
    transform: rotateY(180deg); 
    
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    object-fit: contain;
     
  }
  
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    object-fit: contain;
    border: 2px solid #800000;
  }
  
  .front {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    
  }
  
  .subtitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .location,
  .date {
    font-size: 15px;
    margin-bottom: 5px;
    color: brown;
    font-weight: 600;
  }
  
  .back {
    transform: rotateY(180deg);
    background-color: #ebebeb;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
  }
  
  .logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:flex-end;
    align-items:normal;
    object-fit: contain;
  }
  
  .logoCite,
  .logoLycee {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .visible {
    opacity: 1;
  }
  .hidden {
    display: none;
  }
  