.experiences {
    display: flex;
    justify-content: space-between;
  }
  
  .experience1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 10%;
    
  }
  .experience2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 40%;
  }
  
  .experience1 img {
    width: 600px;
    height: 400px;
    object-fit: cover;

  }
  .experience2 img {
    width: 300px;
    height: 400px;
    object-fit: cover;
  }
  
  .experience h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .experience h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .experience1 button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  .experience2 button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  