/* footer.css */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
  }
  
  .footer {
    background-color: midnightblue;
    color: #fff;
    padding: 30px;
    text-align: right;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer a img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  