/* header.css */
.header {
  background-color: midnightblue; /* Couleur de fond de l'en-tête */
  padding: 15px; /* Espacement intérieur de l'en-tête */
  display: flex;
  
}

.nav {
  list-style-type: none; /* Supprime les puces de la liste */
  margin: 0;
  padding: 0;
  text-align: right; /* Alignement des éléments de la liste à droite */
}

.nav ul {
  display: flex; /* Affiche les éléments de la liste en ligne */
  justify-content: flex-end; /* Alignement des éléments de la liste à droite */
}

.nav li {
  display: inline-block; /* Affiche les éléments de la liste en ligne */
  margin-left: 40px; /* Espacement horizontal entre les éléments de la liste */
}

.nav li:first-child {
  margin-left: 0; /* Supprime l'espacement pour le premier élément */
}

.nav li a {
  color: #fff; /* Couleur du texte des liens en blanc */
  text-decoration: none; /* Supprime la décoration de lien par défaut */
  font-size: 14px; /* Taille de la police des liens */
  font-weight: 600; /* Style de la police en semi-gras */
  font-family: "Arial", sans-serif; /* Police de caractères */
  text-transform: uppercase; /* Conversion en majuscules */
  letter-spacing: 0.5px; /* Espacement entre les lettres */
  transition: color 0.9s ease; /* Transition de couleur lors du survol */
}

.nav li a:hover {
  color: #3498db; /* Couleur du texte au survol */
}

.nav li a.active {
  color: white; /* Couleur du texte pour le lien actif */
}
.nav li a .icon {
  margin-right: 10px; /* Espacement à droite des icônes */
}
.logo {
  margin-right: 290px;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Lato', ;
}

.logo a:hover {
  color: #3498db;
}

.logo-initials {
  font-size: 36px;
  margin-right: 10px;
}