.projet-details {
    display: flex;
    justify-content: space-between;
  }
  
  .projet-description {
    width: 50%;
  }
  
  .projet-description h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .projet-description p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .projet-description h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .projet-description ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .projet-description ul li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .projet-photos {
    width: 50%;
  }
  
  .projet-photos h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .photos-container {
    display: flex;
    flex-direction: column;
  }
  
  .photos-container img {
    width: 100%;
    margin-bottom: 10px;
  }